<div>
  <h1>A Sinatra app to display location where photo was snapped</h1>
  <p>I'm sorry but the "The Sinatra app to access Photo Location Service is not accessible from the folder you typed in.</p>
  <p>The correct URL is: <a href="http://localhost:4567/">http://localhost:4567/</a></p>
  <p><a href="/">Back</a></p>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App for displaying location where a photo was snapped by RubyLearning 18 Aug. 2013</b>.</p>
</div>