<h3>I'm sorry but the Sorter Sinatra Web Service is not accessible directly thro' a browser.</h3>
<h4>Open a command window on your machine and from the folder where your text file (TextFileName) is located, type:</h4>
<p>curl -F "info=@TextFileName" falling-stream-54.heroku.com/sorter</p>
<p>For more details, <a href="http://rubylearning.com/blog/2009/06/23/want-to-create-a-sinatra-web-service/">refer to the blog post</a>.</p>
