<div>
  <h1>A Sinatra app to display location where photo was snapped</h1>
  <p>I'm sorry but the photo you uploaded has no location data.</p>
  <p><a href="/">Back</a></p>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App for displaying location where a photo was snapped by RubyLearning 18 Aug. 2013</b>.</p>
</div>