<div>
  <h1>A map where the photo was snapped</h1>
    <% lat = @photo.gps.latitude.to_s %>
    <% lng = @photo.gps.longitude.to_s %>
    <% photo_map = "http://maps.googleapis.com/maps/api/staticmap?sensor=false&zoom=5&size=600x300&maptype=roadmap&center=#{lat},#{lng}&markers=color:blue%7Clabel:I%7C#{lat},#{lng}" %>
    <img src=<%= photo_map %> alt="Photo location" />
  <p><a href="/">Back</a></p>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App for accessing photo location by RubyLearning 18 Aug. 2013</b>.</p>
</div>
