<div>
  <h2>Your photo was snapped here!</h2>
    <img src=<%= @photo_map %> alt="Photo location" />
  <p><a href="/">Back</a></p>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App for accessing photo location and displaying the location map by RubyLearning 18 Aug. 2013</b>.</p>
</div>

