<div>
  <h1>A map where the photo was snapped</h1>
    <img src=<%= @photo_map %> alt="Photo location" />
  <p><a href="/">Back</a></p>
</div>
<div id="footer">
  <p><b>A Fun Sinatra App for accessing photo location by RubyLearning 18 Aug. 2013</b>.</p>
</div>
